@import "tailwindcss";
body{
  background: #202020;
  color: white;
  height: 100%;
  width: 100%;
}
span {
	display: block;
	color: red;
	font-size: x-small;
	width: 100%;
}

#root{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
}

.formregister{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contenedorform{
	width: 100%;
}